

.container{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  text-align: center;
}


mat-card{
  width: 80%;
  margin: auto;
}

:host ::ng-deep mat-form-field, textarea{
  width: 100%;
}

.postID{
  padding: 10px;
  border-radius: 50%;
  background-color: brown;
  color: white;
}



