



<div class="container">

  <br><br><br>
  <mat-card>
    <div class="row-flex">
      <div style="flex: 1;">
        <h3 style="color: gray;">Post#: <span class="postID">{{post?.id}}</span></h3>
      </div>

      <div style="flex: 10;"></div>
    </div>


    <form class="form-inline" name="txtForm" #form="ngForm">

      <div class="form-group" style="flex-basis: 90%;">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput name="txtTitle" #ngTitle="ngModel"  required [(ngModel)]="post.title" type="text">
          <mat-error *ngIf="ngTitle.touched && !ngTitle.valid">Please fill this field</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group" style="flex-basis: 90%;">
        <mat-form-field>
          <mat-label>Body</mat-label>
          <textarea  matInput name="txtBody" #ngBody="ngModel"  required [(ngModel)]="post.body"></textarea>
          <mat-error *ngIf="ngBody.touched && !ngBody.valid">Please fill this field</mat-error>
        </mat-form-field>
      </div>

     <div class="row-flex">
       <div style="flex:3;"></div>
       <div style="flex: 1;">

         <button mat-raised-button color="primary" >Delete</button>
         <button mat-raised-button color="primary" [disabled]="form.invalid" style="margin-left:5px" (click)="savePost()">Save</button>

       </div>
     </div>
    </form>
  </mat-card>
</div>


