<div class="container">
  <br /><br /><br />

  <mat-card style="width: 400px; margin: auto; border-radius: 5px;">
    <form class="form-inline" name="loginForm" #form="ngForm">
      <div style="width: 100%; text-align: center;">
        <h1 style="color: gray;">Welcome Back!</h1>
      </div>

      <div class="form-group" style="flex-basis: 90%;">
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input
            matInput
            #ngEmail="ngModel"
            placeholder="User Name"
            required
            [(ngModel)]="user.email"
            name="txtEmail"
          />
          <mat-hint *ngIf="ngEmail.touched && !ngEmail.valid"
            >Please fill this field</mat-hint
          >
        </mat-form-field>
      </div>

      <div class="form-group" style="flex-basis: 90%;">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            #ngPassword="ngModel"
            placeholder="Password"
            required
            [(ngModel)]="user.password"
            name="txtPassword"
          />
          <mat-hint *ngIf="ngPassword.touched && !ngPassword.valid"
            >Please fill this field</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="form-group" style="flex-basis: 45%;">
        <mat-checkbox>Remember Me!</mat-checkbox>
      </div>
      <div class="form-group" style="flex-basis: 45%; text-align: end;">
        <a style="color: blue; cursor: pointer;">Forgot Password?</a>
      </div>

      <div class="form-group" style="flex-basis: 100%;">
        <button
          style="width: 100%;"
          mat-raised-button
          color="primary"
          (click)="login()"
          [disabled]="form.invalid"
        >
          Login
        </button>
      </div>

      <span
        >Don't have account ?
        <a style="color: blue; cursor: pointer;"
          >click here to create account</a
        ></span
      >
    </form>
  </mat-card>
</div>
