
:host ::ng-deep mat-form-field{
  width: 100%;
}




.container{
  width: 100%;
  height: 100%;
  background-image: url(../../../../../assets/images/d5c87c9160550d386791069339bbd762.jpg);
  background-size: cover;

}
