<div class="container">
  <br>
  <br>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (input)="applyFilter()" [(ngModel)]="searchedText" placeholder="User#" />
  </mat-form-field>

  <table mat-table #table [dataSource]="posts" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">#</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">User#</th>
      <td mat-cell *matCellDef="let element">{{element.userId}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>
        <div class="row-flex">
          <div style="flex:1"></div>
          <div style="flex: 1;">
            Title
          </div>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>

    <!-- Symbol Column -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToEditListItem(row)">
      <span></span>
    </tr>
  </table>
</div>


<mat-progress-spinner
*ngIf="isBusy"
class="spinner"
color="primary"
mode="indeterminate"
value="50"
diameter="50"
>
</mat-progress-spinner>
