



.container{
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: whitesmoke;
  background-size: cover;
}

.mat-row:hover {
  background-color: #E5E7E9;
  opacity: 0.8;
}

table{
  width: 90%;
  margin: auto;
}

:host ::ng-deep mat-form-field{
  width: 30%;
  margin: auto;
}

.spinner{
  top: 20%;
  left: 50%;
  position: absolute;
  z-index: 1000;
}


