/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.row-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.col-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}


.form-inline{
  display: flex;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  align-content: flex-start;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.form-inline > .form-group{
  position: relative;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: start;
  flex-basis: 5%;
}

:host ::ng-deep mat-form-field{
  width: 100%;
}



